name: project_workspace
publish_to: none

environment:
  sdk: ^3.6.0

workspace:
  - packages/im_login
  - packages/im_sdk_api
  - packages/im_sdkui
  - packages/im_ui_core

dev_dependencies:
  melos: ^7.3.0

melos:
  scripts:
    outdated:
      exec: dart pub outdated
      description: Check outdated dependencies
    format:
      exec: dart format .
      description: Format code
    fix:
      exec: dart fix --apply .
      description: Apply dart fixes
    test:
      run: flutter test --no-pub
      exec:
        concurrency: 1
      packageFilters:
        dirExists: test
      description: Run tests
    analyze:
      exec: dart analyze .
      description: Analyze code
    gen:
      exec: dart run build_runner build --delete-conflicting-outputs
      packageFilters:
        dependsOn: build_runner
      description: Run build_runner
